@use '@angular/material' as mat;

ledger-portal-toggle-color-scheme {
  .mat-mdc-slide-toggle {
    --mdc-switch-unselected-handle-color: theme('colors.blue.50') !important;
    --mdc-switch-unselected-hover-handle-color: theme('colors.blue.50') !important;
    --mdc-switch-unselected-pressed-handle-color: theme('colors.blue.50') !important;
    --mdc-switch-unselected-focus-handle-color: theme('colors.blue.50') !important;
  }
  .mat-mdc-slide-toggle .mdc-switch__icons svg {
    @apply hidden;
  }
}
