# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - IDEA
/.idea
!.idea/modules.xml
!.idea/vcs.xml
!.idea/.gitignore
!.idea/inspectionProfiles
!.idea/gam.iml


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
.pnpm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
/.vscode/

# Firebase
.firebase
*-debug.log
.runtimeconfig.json

.nx/cache
.nx/workspace-data
