ledger-portal-mobile-navigation-bar {
  @apply fixed inset-x-0 bottom-0 z-10 w-full translate-y-[150%] transform-gpu transition-transform duration-200 lg:hidden;

  &.visible {
    @apply translate-y-0;
  }

  nav {
    .logo-fab-button {
      @apply -translate-y-6 overflow-hidden transition-colors duration-150 ease-in-out focus:outline-none #{!important};
      --mdc-fab-container-color: #d2d5de !important;
      box-shadow: 0px 4px 16px rgba(243, 144, 32, 0.32);

      &.active {
        --mdc-fab-container-color: #f39020 !important;
      }
    }

    .normal-anchor-container {
      @apply bg-card flex h-full flex-1 items-start;
      box-shadow: 0 4px 12px rgba(var(--foreground-color), 0.16);

      a {
        @apply flex flex-1 flex-col items-center border-t-2 border-solid border-transparent py-1 opacity-50 transition-all;

        &.active {
          @apply border-primary text-primary opacity-100;
        }

        > .mat-icon {
          @apply mb-0.5;
        }

        > div {
          @apply truncate text-center;
          font-size: 80%;
        }
      }
    }
  }
}
