ledger-portal-my-payment-cards {
  .scroll-content {
    @apply absolute flex justify-between w-full z-10 top-1/2;
  }

  .scroll-button {
    @apply absolute flex content-center items-center py-6 bg-foreground text-background opacity-25 hover:opacity-50 transition-opacity #{!important};
    top: 50%;
    transform: translateY(-50%);
  }

  .payment-cards-container {
    @apply flex flex-nowrap overflow-x-hidden gap-x-4 px-4;
    // For Firefox
    scrollbar-width: none;
    // For Edge
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .card-bullet {
    @apply bg-primary mx-1 h-[0.375rem] w-[0.375rem] rounded-full;
  }
}
