{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@angular(.*?)",
    "<THIRD_PARTY_MODULES>",
    "^@gam(.*?)",
    "^\\.{1,2}/(.*?)",
    ".css$"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "overrides": [
    {
      "files": [
        "apps/**/*.component.html",
        "libs/**/*.component.html"
      ],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
