@use '../../base/mixins/theme' as theme;

@include theme.define-theme(
    '.theme--autumn',
    (
      light: (
        primary: (
          50: #f9eae8,
          100: #fccdbf,
          200: #faad96,
          300: #f98e6d,
          400: #f8764e,
          500: #f85f31,
          600: #ed592d,
          700: #df5328,
          800: #d14c25,
          900: #b7411e,
        ),
        accent: (
          50: #dff3fe,
          100: #c1dee8,
          200: #a4c6d3,
          300: #85aebe,
          400: #6c9bac,
          500: #53899c,
          600: #47798a,
          700: #386474,
          800: #2b515f,
          900: #1a3b47,
        ),
      ),
      dark: (
        primary: (
          50: #faeae8,
          100: #fdcec0,
          200: #fcae97,
          300: #fc8f6e,
          400: #fc774e,
          500: #fc6131,
          600: #f15b2d,
          700: #e35428,
          800: #d54d25,
          900: #bb421e,
        ),
        accent: (
          50: #e4f5fb,
          100: #bce7f3,
          200: #95d8ea,
          300: #76c8df,
          400: #6abdd5,
          500: #68b2ca,
          600: #61a2b7,
          700: #578d9d,
          800: #507985,
          900: #42565a,
        ),
      ),
    )
);
