@use '../../base/mixins/theme' as theme;

@include theme.define-theme(
    '.theme--spring',
    (
      light: (
        primary: (
          50: #fce5ed,
          100: #f8bed3,
          200: #f495b6,
          300: #f06b98,
          400: #ec4e82,
          500: #ea366c,
          600: #d93268,
          700: #c22e63,
          800: #ad2a5e,
          900: #872454,
        ),
        accent: (
          50: #e3f1f9,
          100: #bbdcf2,
          200: #92c7e9,
          300: #6ab1e0,
          400: #4da1db,
          500: #3392d6,
          600: #2a85c9,
          700: #2073b7,
          800: #1863a6,
          900: #094787,
        ),
      ),
      dark: (
        primary: (
          50: #fce4ec,
          100: #f8bcd1,
          200: #f591b2,
          300: #f16594,
          400: #ed457c,
          500: #ea2865,
          600: #d92562,
          700: #c3215d,
          800: #ae1d59,
          900: #881751,
        ),
        accent: (
          50: #e3f5fd,
          100: #bae6fa,
          200: #8fd5f6,
          300: #6bc5f1,
          400: #58b8ee,
          500: #4facea,
          600: #499edb,
          700: #428bc7,
          800: #3d7ab2,
          900: #335a8f,
        ),
      ),
    )
);
