@use '@angular/material' as mat;
@use '../vendors/material/material' as *;

ledger-portal-cheque-dashboard,
ledger-portal-cheque-issue,
ledger-portal-cheque-confirm,
ledger-portal-cheque-transfer,
ledger-portal-cheque-book {
  .page-card {
    @apply pb-8 #{!important};
    mat-card-content {
      @apply mb-0 w-full max-w-[460px] pt-8 sm:mx-auto #{!important};

      @apply mb-0 w-full max-w-[460px] pt-8 sm:mx-auto #{!important};
      h4 {
        font-size: mat.m2-font-size($bm-typography-fa, subtitle-2) !important;
        font-weight: mat.m2-font-weight($bm-typography-fa, subtitle-2) !important;
      }
    }

    mat-card-actions {
      @apply grid w-full max-w-[460px] grid-cols-1 gap-x-4 pt-8 sm:mx-auto sm:grid-cols-2 #{!important};
    }
  }

  .receipt-description-list {
    @apply mt-4 lg:mt-8;

    div {
      @apply flex items-center justify-between py-3;

      dt {
        @apply text-foreground/70 font-medium;
      }

      dd {
        @apply flex items-center gap-x-2 font-medium;
      }
    }
  }
}

.ledger-portal-cheque-confirmation-dialog {
  .confirmation-description-list {
    @apply space-y-4;

    div {
      @apply flex items-center justify-between gap-x-2;

      dt {
        @apply text-foreground/80;
      }

      dd {
        @apply font-medium;
      }
    }
  }
}

ledger-portal-cheque-dashboard {
  .dashboard-item {
    @apply border-foreground/10 flex items-center gap-x-4 border p-3 sm:flex-col sm:items-start #{!important};
  }
}

ledger-portal-cheque-receivers {
  .receivers-tab-group {
    @apply mt-4 #{!important};

    [role='tab'] {
      @apply w-1/2 #{!important};
    }

    [role='tabpanel'] {
      @apply pt-4 #{!important};
    }
  }
}

ledger-portal-cheque-issue {
  .signers-selection-list {
    mat-list-option {
      .mat-list-item-content {
        font-size: mat.m2-font-size($bm-typography-fa, body-1) !important;
      }
    }
  }
}

ledger-portal-cheque-id-form-field {
  .barcode-video-container {
    video {
      @apply fixed inset-0 z-10;
    }

    .scan-region-highlight {
      @apply z-20;
    }
  }
}

.ledger-portal-cheque-issue-confirmation-dialog {
  .confirmation-description-list {
    @apply mt-6 space-y-4;

    div {
      @apply flex justify-between;

      dt {
        @apply text-foreground/80;
      }

      dd {
        font-size: mat.m2-font-size($bm-typography-fa, subtitle-2);
        font-weight: mat.m2-font-weight($bm-typography-fa, subtitle-2);
      }
    }
  }
}

ledger-portal-cheque-history {
  .cheque-table {
    tr.transaction-detail-row {
      height: 0;
    }

    tr.transaction-row:hover {
      @apply bg-[inherit] #{!important};
    }

    tr.transaction-row:not(.transaction-expanded-row):hover {
      @apply bg-foreground/5 #{!important};
    }

    tr.transaction-detail-row {
      @apply bg-foreground bg-opacity-[0.01] #{!important};
    }

    .transaction-row td {
      border-bottom-width: 0;
    }
  }

  .cheque-key-value-grid {
    @apply grid sm:grid-cols-2 sm:gap-y-4;

    > div {
      @apply flex items-center;

      dt {
        @apply text-foreground/60 w-[35%];
      }

      dd {
        @apply text-foreground/90 font-medium;
      }
    }
  }

  .cheque-key-value-history {
    @apply py-2 #{!important};
    span {
      span:first-child {
        @apply text-foreground/60;
      }

      span:last-child {
        @apply text-foreground/90 font-medium;
      }
    }
  }
}

.cheque-information-key-value-grid {
  margin-top: 1rem;
  row-gap: 1rem;
  display: grid;

  dl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }

  dt {
    color: rgb(var(--foreground-color), 0.6);
  }

  dd {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    color: rgb(var(--foreground-color), 0.9);
  }
}
