ledger-portal-side-menu{
  @apply block px-4;

  .mat-mdc-list-base {
    .mat-mdc-list-item {
      @apply overflow-hidden rounded-lg #{!important};
      padding-inline-start: 32px;

      &.active {
        @apply text-primary bg-primary/10 #{!important};
      }

      &.mat-mdc-list-item-with-avatar .mat-mdc-list-item-content .mat-mdc-list-text {
        @apply ps-2 #{!important};
      }
    }
  }

  .mat-mdc-subheader {
    margin: 12px 0;
  }

  .mat-expansion-panel {
    --mat-expansion-header-expanded-state-height: 52px;
    --mat-expansion-header-collapsed-state-height: 52px;
    --mat-expansion-container-shape: 8px !important;
    @apply m-0 shadow-none #{!important};

    &:not(.mat-expanded),
    &:not(.mat-expansion-panel-spacing) {
      @apply rounded-lg #{!important};
    }

    .mat-expansion-panel-header {
      padding: 0 16px;

      .mat-icon {
        @apply text-foreground/75;

        & ~ * {
          @apply ps-3 #{!important};
        }
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

ledger-portal-master
 {
  .mat-mdc-list-base {
    .mat-mdc-list-item {
      @apply overflow-hidden #{!important};
      padding-inline-start: 32px;

      &.active {
        @apply text-primary bg-primary/10 #{!important};
      }

      &.mat-mdc-list-item-with-avatar .mat-mdc-list-item-content .mat-mdc-list-text {
        @apply ps-2 #{!important};
      }
    }
  }

  .mat-mdc-subheader {
    margin: 12px 0;
  }

  .mat-expansion-panel {
    --mat-expansion-header-expanded-state-height: 52px;
    --mat-expansion-header-collapsed-state-height: 52px;
    --mat-expansion-container-shape: 8px !important;
    @apply m-0 shadow-none #{!important};
    border-radius:0 !important;;

    .mat-expansion-panel-header {
      padding: 0 16px;

      .mat-icon {
        @apply text-foreground/75;

        & ~ * {
          @apply ps-3 #{!important};
        }
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }
 }
