.reduce-size-button {
  position: absolute;
  right: 18rem;
  top: 20px;
  z-index: 999;
  cursor: pointer;
}

.expansion-button {
  position: absolute;
  right: 7.25rem;
  top: 20px;
  z-index: 999;
  cursor: pointer;
}
