@use '../../base/base' as *;

ledger-portal-payment-card,
ledger-portal-locked-payment-card,
ledger-portal-shared-ui-inactive-payment-card {
  .container {
    @apply flex h-[10rem] w-[18rem] flex-col rounded-xl bg-cover p-4;
    max-width: 94vw;
    background-position: center center;
    background-image: var(--bg-image);
    background-color: rgb(var(--card-color) / var(--bg-opacity));
    color: rgb(var(--card-color));
    --bg-opacity: 24%;
    --bg-image: url(#{$path-to-images}/payment-card/payment-card-background-pattern.svg);

    &.main-payment-card {
      --card-color: 22 121 235;
    }

    &.other-payment-card {
      --card-color: 41 169 186;
    }

    &.locked {
      --bg-image: url(#{$path-to-images}/payment-card/payment-card-deactive-background-pattern.svg);
      --card-color: 190 190 190;
      --bg-opacity: 16%;
    }

    &.inactive {
      --bg-image: url(#{$path-to-images}/payment-card/payment-card-deactive-background-pattern.svg);
      --card-color: 176 187 204;
      --bg-opacity: 16%;
    }
  }
}

.payment-card-balance-list {
  @apply block #{!important};

  div {
    @apply flex w-full py-2;

    dt {
      @apply text-foreground/60;
    }

    dd {
      @apply text-foreground/80 flex-1 text-end font-medium;
    }
  }
}
