@use '../../base/mixins/theme' as theme;

@include theme.define-theme(
    '.theme--default',
    (
      light: (
        primary: (
          50: #e3f2fd,
          100: #bbddfb,
          200: #91c8f9,
          300: #66b2f6,
          400: #47a2f4,
          500: #2c92f2,
          600: #2a84e4,
          700: #2672d1,
          800: #2361be,
          900: #1c439f,
        ),
        accent: (
          50: #fef3e1,
          100: #fce0b4,
          200: #fbcd84,
          300: #fab953,
          400: #f9a930,
          500: #f89b17,
          600: #f48f14,
          700: #ee8011,
          800: #e8710e,
          900: #de580b,
        ),
        warn: (
          50: #ffebee,
          100: #ffcdd2,
          200: #ef9a9a,
          300: #e57373,
          400: #ef5350,
          500: #f44336,
          600: #e53935,
          700: #d32f2f,
          800: #c62828,
          900: #b71c1c,
        ),
      ),
      dark: (
        primary: (
          50: #e5f3fd,
          100: #c1e0fa,
          200: #9ccdf7,
          300: #79b9f3,
          400: #63a9f0,
          500: #539bed,
          600: #4d8ddf,
          700: #467bcc,
          800: #406ab9,
          900: #354c99,
        ),
        accent: (
          50: #fef3e1,
          100: #fce0b4,
          200: #fbcd84,
          300: #fab953,
          400: #f9a930,
          500: #f89b17,
          600: #f48f14,
          700: #ee8011,
          800: #e8710e,
          900: #de580b,
        ),
        warn: (
          50: #ffebee,
          100: #ffcdd2,
          200: #ef9a9a,
          300: #e57373,
          400: #ef5350,
          500: #f44336,
          600: #e53935,
          700: #d32f2f,
          800: #c62828,
          900: #b71c1c,
        ),
      ),
    )
);
