@use '../mixins/mixins' as *;

mat-icon {
  &[data-mat-icon-type='svg'] {
    &.stroke-current * {
      stroke: currentColor !important;
    }

    &.fill-current * {
      fill: currentColor !important;
    }
  }
}

@include ltr() {
  .mat-mdc-icon-ltr-mirror {
    transform: scale(-1, 1);
  }
}
