@use '@angular/cdk';

html {
  font-size: 16px;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-card;
  padding-bottom: env(safe-area-inset-bottom, 1rem);
}

html,
html * {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  border-color: currentColor;
}

input {
  @include cdk.text-field-autofill-color(transparent, var(--foreground-color));
}
