@use '@angular/material' as mat;

button {
  @apply rounded-2xl;
}

button,
a {
  &.mdc-button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
    height: 46px;
  }
}

@layer utilities {
  .outline-form-field-sibling-buttons-container {
    padding-bottom: calc(22px + 0.5rem);

    > button {
      height: 100% !important;
    }
  }

  .fill-form-field-sibling-buttons-container {
    padding-bottom: calc(22px + 0.5rem);

    > button {
      height: 100% !important;
    }
  }
}
