.mat-mdc-form-field {
  // Temporary workaround for left and right borders when input is focused or disabled in RTL.
  // https://github.com/angular/components/issues/26115
  .mdc-text-field--focused .mdc-notched-outline__leading,
  .mdc-text-field--focused .mdc-notched-outline__trailing {
    border-width: 2px !important;
  }

  &.mat-mdc-form-field-appearance-outline {
    &.mat-mdc-form-field-dense {
      .mat-mdc-form-field-wrapper {
        @apply pb-0 #{!important};
      }

      .mat-mdc-form-field-flex {
        @apply mt-0;

        .mat-mdc-form-field-infix {
          @apply border-t-0;
        }

        .mat-mdc-form-field-outline {
          @apply top-0;
        }
      }
    }

    &.mat-mdc-form-field-invalid {
      .mat-mdc-form-field-outline {
        z-index: 0;
      }
    }
  }

  .mat-mdc-form-field-label {
    overflow: visible;
  }

  .mat-mdc-date-range-input-start-wrapper {
    line-height: initial;
  }

  @apply mb-2;
}
